<form class="py-16 flex flex-col">
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter here">
        <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Enter here">
        <mat-icon matSuffix>password</mat-icon>
    </mat-form-field>
    <div class="example-button-row flex justify-center px-2">
        <button class="mx-2" mat-stroked-button color="accent">Submint</button>
        <button class="mx-2" mat-flat-button color="warn">Clear</button>
    </div>
</form>